@model IEnumerable<ArkPortal.Gateway.DTO.ViewModels.RegistrationViewModel>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="~/src/assets/css/light/forms/switches.css">
<link rel="stylesheet" type="text/css" href="~/src/assets/css/dark/forms/switches.css">

<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="~/src/plugins/src/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="~/src/plugins/css/light/table/datatable/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="~/src/plugins/css/light/table/datatable/custom_dt_miscellaneous.css">
<link rel="stylesheet" type="text/css" href="~/src/plugins/css/dark/table/datatable/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="~/src/plugins/css/dark/table/datatable/custom_dt_miscellaneous.css">



<!-- END PAGE LEVEL STYLES -->

<div class="middle-content container-xxl p-0">
    <!-- BREADCRUMB -->
    <div class="page-meta">
        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
                <li class="breadcrumb-item">
                    <a href="#">
                        Registrations
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
        </nav>
    </div>
    <!-- /BREADCRUMB -->
    <div class="seperator-header">
        <h4 class="">You can now Export a report</h4>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <div id="html5-extension_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="table-responsive">
                            <table id="html5-extension" class="table dt-table-hover dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="html5-extension_info">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Prefix)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Designation)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmailAddress)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StreetAddress)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.City)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StateOrProvince)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ZipOrPostalCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Country)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RegistrationStatus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Institution)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InstitutionAddress)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InstitutionCity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InstitutionStateOrProvince)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InstitutionZipOrPostalCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InstitutionCountry)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InstitutionContactNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.YearsEmployed)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedOn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpDatedOn)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Prefix)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Designation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StreetAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StateOrProvince)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ZipOrPostalCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Country)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RegistrationStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Institution)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstitutionAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstitutionCity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstitutionStateOrProvince)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstitutionZipOrPostalCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstitutionCountry)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstitutionContactNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.YearsEmployed)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpDatedOn)
                                            </td>
                                            <td>
                                                @* <a asp-action="Details" asp-route-id="@item.RegistrationId">Details</a> *@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/src/plugins/src/global/vendors.min.js"></script>
<script src="~/src/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/src/plugins/src/mousetrap/mousetrap.min.js"></script>
<script src="~/src/plugins/src/waves/waves.min.js"></script>
<script src="~/layouts/modern-light-menu/app.js"></script>


